[Unit]
Description=Check Gateway Status Service
After=sysinit.target

[Service]
ExecStart=/usr/bin/check_gw_sts.sh
Restart=always
RestartSec=1
User=root

[Install]
WantedBy=multi-user.target