[Unit]
Description=Wait Sdma Service
After=multi-user.target network.target dev-ttymxc3.device systemd-udev-settle.service serial-getty@ttymxc3.service
Requires=dev-ttymxc3.device systemd-udev-settle.service

[Service]
ExecStartPre=/usr/bin/wait_sdma.sh
ExecStart=/usr/bin/gateway
Restart=always
RestartSec=1
User=root
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target